body {
    margin: 0;
    overflow: hidden; /* Убираем полосы прокрутки, так как прокрутка будет обрабатываться JS */
    background-color: #000; /* Черный фон на случай, если 3D-сцена не загрузится сразу */
}

#forestCanvas {
    display: block;
    width: 100vw; /* Ширина по всей области просмотра */
    height: 100vh; /* Высота по всей области просмотра */
}